---
layout: default
comments: true
---

<!-- <small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
 -->
 
{{ content }}

{% if page.tags %}
<small>分类于：<em>{{ page.tags | join: "</em> - <em>" }}</em></small> {% endif %}

{% if page.comments %}
<script type="text/javascript">
  var gitalk = new Gitalk({
  clientID: '6b96a9130f9f49852167',
  clientSecret: 'fa2fc092e1bea789326167493d7fa3c8e80c7c5c',
  repo: 'https://zaopen.github.io/',
  owner: 'zaopen',
  admin: ['zaopen'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
</script>
{% endif %}

<!-- 
<div id="related">
  <h2>其他文章</h2>
  <ul class="posts">
    {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
 -->