---
layout: default
comments: true
---

<!-- <small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
 -->
 
{{ content }}

{% if page.tags %}
<small>分类于：<em>{{ page.tags | join: "</em> - <em>" }}</em></small> {% endif %}

{% if page.comments %}
<!-- <div id="gitalk-container"></div> -->
<script type="text/javascript">
  var gitalk = new Gitalk({
  clientID: '6b96a9130f9f49852167',
  clientSecret: 'fa2fc092e1bea789326167493d7fa3c8e80c7c5c',
  repo: 'https://zaopen.github.io/',
  owner: 'zaopen',
  admin: ['zaopen'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
// gitalk.render('gitalk-container')
</script>
<!-- <div id="disqus_thread"></div>
<script>
/*
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
 */
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
        s = d.createElement('script');
    s.src = 'https://zaopen-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>评论功能由 <a href="https://disqus.com/?ref_noscript">Disqus</a> 提供，需要启用 Javascript 才能进行评论。</noscript> -->
{% endif %}

<!-- 
<div id="related">
  <h2>其他文章</h2>
  <ul class="posts">
    {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
 -->